<!-- password-prompt.component.html -->

<div class="pwContainer">
  <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 1.2rem;" mat-dialog-title>Enter Password</h1>
  <div mat-dialog-content>
    <input class="pwInp" 
      matInput 
      type="password" 
      [(ngModel)]="password" 
      name="scenarioName" 
      #scenarioName="ngModel" 
      placeholder="Password"
      cdkFocusInitial
      >
  </div>
  <div class="pwContainer" mat-dialog-actions>
    <button class="pwBtn" mat-button mat-dialog-close (click)="closePasswordPrompt(false)">Cancel</button>
    <button class="pwBtn" mat-button mat-dialog-close (click)="closePasswordPrompt(true)">Ok</button>
  </div>
</div>